@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary-color: #067a75;
    --black-color: #067a75;
    --white-color: #fff;
    --hover-color: #091618;
    --background-color: #091618;
    --primary-font: 'Ubuntu', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}

.body{
  background-color: var(--background-color);
}

.mynav{
  background-color: var(--primary-color);
}

.mycard{
  background:linear-gradient(45deg,var(--hover-color),var(--primary-color))
}

#myimg{
  width: 100%;
  height: 250px;
 }

 footer {
  background: var(--background-color);
  padding: 15px 0;
  text-align: center;
  font-family: var(--secondary-font);
}

footer .footer-text span {
  font-size: 17px;
  font-weight: 400;
  color: var(--white-color);
}

footer .footer-text span a {
  font-weight: 500;
  color: var(--white-color);
}

footer .footer-text span a:hover {
  text-decoration: underline;
}

/* ----------------------------------------------- */
.header {
  padding: 20px;
}
.header--big-bg {
  height: 100vh;
  background: url(static/films/label2.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.header--big-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.header--big-bg h1 {
  margin: 0;
  font-family: Raleway;
  font-weight: 900;
  font-size: 5rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2px;
  word-spacing: 5px;
  margin-bottom: 20px;
}
.header--big-bg p {
  margin: 0;
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2px;
  word-spacing: 5px;
  margin-bottom: 20px;
}
.header__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  border: 4px solid;
  transition: all linear 0.25s;
}
.button:hover {
  background: rgba(255, 255, 255, 0.25);
}
/* ------------------------------------- */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);/* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other content */
}
.loading{
  color: var(--white-color);
  margin: 10px;
}
.loader {
  border: 8px solid #f3f3f3; /* Light gray border */
  border-top: 8px solid var(--primary-color); /* Blue border (change color as needed) */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation for rotation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* /////////////////////////////////////// */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

#scrollDown .bi-chevron-double-down {
  animation: bounce 2s infinite;
}
/* ///////////////////////////////////// */